:root {
    --white: #df9fdb;
    --black: #000000;
    --very-light-pink: #9de0db;
    --text-input-field: #d3bebe;
    --hospital-green: #9be4a5;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 24px;
  }
  